body{
    font-family: Arial, sams-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header{
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
}

header p{
    font-style: italic;
}

.intro{
    text-align: center;
    padding: 20px;
}

.intro img{
    max-width: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.achievements{
    background: #ecf0f1;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.achievements h2{
    color: #2c3e50;
}

.quote{
    background: #2980b9;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.more-info{
    text-align: center;
    margin: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
}
